@use 'global';

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    list-style: none;
	grid-gap: 20px;
	// overflow: auto;
	padding-bottom: 2rem;
	padding-top: 8rem;
    padding: 40px;
    justify-content: space-between;
	// background-color: global.$main-bg-colour;
	&::-webkit-scrollbar {
		display: none;
	  }
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none; 

    li {
        padding: 1rem;
	}
	
	li:hover {
		.description {
			display: block;
			position: absolute;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);	
			left: 0;
			background-color: rgb(206, 202, 202);
			padding: 1em;
			font-size: 0.9em;
		}
	}

    dt {
        display: none;
    }

    dd img {
        height: 28vh;
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }

    dd span{
        font-size: 16px;
    }

    dd .material-icons {
        font-size: 16px;
    }

    .stock-precio{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;
    }

/*     .stock+dd {
        
    } */

    .price+dd {
        text-align: right;
    }

    .description {
        display: none;
    } 

    .description:hover {
        display: block;
    }
}

@media print {

    * {
        background-color: white;
    }

    header {
        background-color: white;
    }

    header h1 {
        color: black;
        margin: 2vh 3vw;
        text-align: center;
    }

    header button {
        display: none;
    }

    header form {
        display: none;
    }

    ul {
        background-color: white;
    }

    li {
        width: 20cm;
    }
}