@use 'global';

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    list-style: none;
    grid-gap: 20px;
    padding: 40px;
    justify-content: space-between;
    background-color: global.$main-bg-colour;

    li {
        padding: 1rem;
    }

    dt {
        display: none;
    }

    dd img {
        height: 28vh;
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }

    dd span{
        font-size: 16px;
    }

    dd .material-icons {
        font-size: 16px;
    }

    .stock-precio{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 10px;
    }

/*     .stock+dd {
        
    } */

    .price+dd {
        text-align: right;
    }
}

@media print {

    * {
        background-color: white;
    }

    header {
        background-color: white;
    }

    header h1 {
        color: black;
        margin: 2vh 3vw;
        text-align: center;
    }

    header button {
        display: none;
    }

    header form {
        display: none;
    }

    ul {
        background-color: white;
    }

    li {
        width: 20cm;
    }
}