ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    list-style: none;
    grid-gap: 20px;
    padding: 40px;
    justify-content: space-between;

    li {
        padding: 1rem;
    }

    dt {
        display: none;
    }

    dd img {
        height: 28vh;
    }

    dd span{
        font-size: 16px;
    }

    dd .material-icons {
        font-size: 16px;
    }

    .stock+dd {
        display: inline-block;
    }

    .price+dd {
        display: inline-block;
        margin-left: 5vw;
    }
}
