@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$main-bg-color: #76787a;
$regular-fontfamily: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: $regular-fontfamily;
}

@media print {

    header {
        background-color: white;
    }

    header h1 {
        color: black;
        margin: 2vh 3vw;
        text-align: center;
    }

    header button {
        display: none;
    }

    header form {
        display: none;
    }

}