@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$main-bg-colour: #82D9B6;
$book-colour: #cce4da;
$book-hover-colour: rgb(206, 202, 202);
$regular-fontfamily: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: $regular-fontfamily;
}

.list-books {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: $book-colour;
  
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $book-hover-colour;
        transform: scale(1.1);
      }

      .description1:hover {
        display: block;
      }
}
