header {
    padding: 0.7vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #9E4629;

    h1 {
        color: white;
        margin: 2vh 3vw;
    }

    form {
        height: 7vh;
        display: flex;
        align-items: center;
    }

    button {
        outline: none;
        border: none;
        background: transparent;
        margin: 0 3vw;
        height: 4vh;
    }

    input[type="text"] {
        line-height: 4vh;
        width: 40vw;
        padding-left: 2vh;
    }

    .material-icons {
        font-size: 40px;
    }
}

@media (max-widht: 700px) {
    header input[type=text] {
        margin-left: 4vw;
    }
}

