<ul>
    {{#each booksDesc}}
        <li class="list-books">
            <dt class="cover">cover:</dt><dd><img src="{{this.cover}}"></dd>
            <h3><dt class="title">title:</dt><dd>{{this.title}}</dd></h3>
            <dt class="author">author:</dt><dd>{{this.author}}</dd>
            <dt class="description">description:</dt><dd>{{this.description}}</dd>
        </li>
    {{/each}}
</ul>